/* general page styles */
body {
    background-image: url('images/background.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.visuallyhidden {
    display: none;
}

.page-wrapper {
    display: flex;
    flex-direction: column;

    height: 95vh;
}

/* basics of a modal */
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fff7f6;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 16px;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* main menu styling */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
    font-size: 30px;

    width: 33.33%;
    text-align: center;
}

nav a {
    display: block;
    padding: 8px;
    background-color: #90A9BF;
    color: #2B505A;
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    color: #90A9BF;
    background-color: #fff7f6;
}

nav [aria-current=page] {
    background-color: #CDDDF5;
    color: #2B505A;
    border-bottom: .2em solid #2B505A;
}

/* HOME PAGE */

/* projects */
.project-wrapper {
    margin: 7% 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    text-align: center;

    height: 100%;
}

.project {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    border-radius: 16px;
    background-color: #9c6352b1;

    align-items: center;
    justify-content: center;
}

.project p {
    font-size: 20px;
    background-color: #9c6352;
    border-radius: 16px;

    padding: 8px;
}

.project-images {
    margin-top: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;


    align-items: center;
    justify-content: center;

    gap: 10px;
}

.project-desc {
    display: flex;
    flex-direction: row;

    color: #fff7f6;
}

.gen-ex {
    max-width: 100%;
    width: 300px;
}

.humoroo-ex {
    max-width: 100%;
    width: 300px;
}

.help-button {
    background-color: transparent;
    border: none;

    color: #2B505A;
}


/* ABOUT ME */

.about-me {
    background-color: #fcc6b3e5;
    color: #2B505A;
    margin: 3% 3%;
    padding: 3%;

    height: 100%;

    border-radius: 16px;
}

.about-me a {
    color: #2B505A;
    text-decoration: none;
}

#biotrigger {
    cursor: pointer;
}